/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.nav-top {
	padding: 20px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	display:flex;
	justify-content:space-between;
  }
  .nav-top a {
	text-decoration: none;
	color: black;
	padding: 20px 60px 20px 20px;
  }
  .text-button {
	width: 50%;
  }
  .text {
	font-size: 80px;
	width: 100%;
	margin-top: 20px;
	padding: 20px;
	text-align: center;
  }
  button {
	background: white;
	padding: 10px 33px;
	font-size: 16px;
	text-align: center;
	margin-left: 220px;
	margin-bottom: 40px;
  }
  .header-img {
	width: 45%;
  }
  header {
	padding: 35px;
	border-bottom: 1px solid black;
	display:flex;
	justify-content: space-between;
  }
  .middle-img {
	padding: 30px;
	width: 97%;
	height: 50%;
	margin: 0 auto;
  }
  .first-row{
	display:flex;
	padding: 20px;
  }
  .container-one {
    width: 45%;
    padding: 5px;
  }
  .container-two {
    width: 45%;
    padding: 5px;
  }
  .second-text {
	display: flex;
	padding: 20px;
	border-bottom: 1px solid black;
  }
  .one-row {
    width: 32%;
    padding: 5px;
  }
  .two-row {
    width: 32%;
    padding: 5px;
  }
  .three-row {
    width: 32%;
    padding: 5px;
  }
  address {
	margin: 20px;
	padding: 20px;
  }
  .phone {
	line-height: 3.5;
  }
  footer {
	text-align: center;
	margin: 20px;
	padding: 20px;
  }

/*Tablet*/

@media (max-width:800px){

    .nav-top {
        padding: 20px;
        text-align: center;
        width: 80%;
        display:flex;
        flex-direction:column-reverse;
        justify-content: center;
      }

      .nav-top a {
        text-decoration: none;
        color: black;
        padding: 10px 10px 10px 10px;
      }

    .logo{
      width:30%;
      margin-left:200px;
      margin-bottom:2%;
    }

    .header-img{
        display:none;
    }
    header{
        display:flex;
        flex-direction:column;
        margin: 0 auto;
        justify-content:space-between;
        align-items:center;
    }
    button{
        margin-left:100px;
    }
}

/*phone*/

@media (max-width:500px){

    nav{
        display:flex;
        flex-direction:column-reverse;
        width: 60%;
        margin-left:80px;
    }

    nav a{
        border-bottom: 1px solid black;
        margin: 0 -15%;
        color:gray;
    }

    #contact{
      border-top: 1px solid black;
    }

    .logo{
        padding-bottom:2%;
        margin-left:130px;
=    }
    
    .text{
        font-size:50px;
        margin: 0 auto;
    }
    button{
        margin-left:30px;
    }
    .first-row{
        display:flex;
        flex-direction:column;
        width:100%;
    }
    .container-one {
        width: 90%;
        padding: 5px;
      }
      .container-two {
        width: 90%;
        padding: 5px;
      }
    .second-text{
        display:flex;
        flex-direction:column;
        width:100%;
    }
    .one-row {
        width: 90%;
        padding: 5px;
      }
      .two-row {
        width: 90%;
        padding: 5px;
      }
      .three-row {
        width: 90%;
        padding: 5px;
      }
}